# Dependencias
node_modules/

# Variables sensibles
.env

# Sesiones WhatsApp
.wwebjs_auth/

# Sesiones Instagram / Playwright
.instagram-session/

# Storage temporal
storage/*.json

# Logs
*.log

# Electron
dist/
out/

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Cache
.cache/
tmp/